.toolbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(35, 35, 112);
    height: 60px;
    z-index: 100;
}

.toolbar_navigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
}

.spacer {
    flex: 1;
}

.toolbar_navigation_items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-right: 10rem;
    text-decoration: none;
}

.toolbar_navigation_items li {
    padding-left: 10px;
    color: white;
}

.toolbar_navigation_items a {
    padding-left: 10px;
    color: white;
    text-decoration: none;
}

.toolbar_logo {
    margin-left: 1rem;
}

.toolbar_logo a {
    color: white;
    text-decoration: none;
}

.toolbar_navigation_items a:hover,
.toolbar_navigation_items a:active {
    color: white;
    text-decoration: none;
}

@media (max-width: 768px) {
    .toolbar_navigation_items {
        display: none;
    }
}